# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
BE/node_modules
BE/.pnp
BE/.pnp.js
FE/node_modules
FE/.pnp
FE/.pnp.js

# testing
FE/coverage
BE/coverage

# production
FE/build
BE/build

# misc
FE/.DS_Store
FE/.env.local
FE/.env.development.local
FE/.env.test.local
FE/.env.production.local
BE/.DS_Store
BE/.env.local
BE/.env.development.local
BE/.env.test.local
BE/.env.production.local

FE/npm-debug.log*
FE/yarn-debug.log*
FE/yarn-error.log*
BE/npm-debug.log*
BE/yarn-debug.log*
BE/yarn-error.log*
